<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248226384043-494u6cpskliim16alvvhpki8shgfufbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248226384043-494u6cpskliim16alvvhpki8shgfufbv</string>
	<key>API_KEY</key>
	<string>AIzaSyCccearCIHCRPmE6lPSVuD6IxjweZq9Fac</string>
	<key>GCM_SENDER_ID</key>
	<string>248226384043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heatable</string>
	<key>PROJECT_ID</key>
	<string>heatable-df0b1</string>
	<key>STORAGE_BUCKET</key>
	<string>heatable-df0b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248226384043:ios:639a2f2df419c6a6c5cfee</string>
	<key>DATABASE_URL</key>
	<string>https://heatable-df0b1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>